<?xml version="1.0"?>
<!--
/**
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.magepal.com | support@magepal.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <subscribable>
                <title>Subscription</title>
                <enabled>0</enabled>
                <periods>1,2,3,4</periods>
            </subscribable>
        </system>
    </default>
</config>
