<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Osio\Subscriptions\Api\ReOrderInterface" type="Osio\Subscriptions\Model\ReOrder" />
    <type name="Magento\Catalog\Model\Product">
        <plugin name="subscriptions_set_subscribe_product_options"
                type="Osio\Subscriptions\Plugins\SetSubscribeProductOptions"/>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider">
        <plugin name="subscriptions_product_data_provider_disable_attribute"
                type="Osio\Subscriptions\Plugins\ProductDataProviderDisableAttribute"/>
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterface">
        <plugin name="subscriptions_order_items_to_subscribe_set"
                type="Osio\Subscriptions\Plugins\OrderItemsToSubscribeSet"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="clean" xsi:type="object">Osio\Subscriptions\Console\Run</item>
            </argument>
        </arguments>
    </type>
</config>
