<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="after_place_order_operation"
                type="Osio\Subscriptions\Plugins\Model\SaveSubscriptions"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="subscriptionsCommandLine" xsi:type="object">Osio\Subscriptions\CommandLine\Console\Runner</item>
            </argument>
        </arguments>
    </type>
</config>
