<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="osio_before_product_save"
                type="Osio\Subscriptions\Plugins\Model\ProductRepositoryPlugin"/>
    </type>
    <!--
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="osio_after_order_save"
                type="Osio\Subscriptions\Plugins\Model\OrderManagementInterfacePlugin"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="subscriptionsCommandLine" xsi:type="object">Osio\Subscriptions\CommandLine\Console\Runner</item>
            </argument>
        </arguments>
    </type>
    -->
</config>
