<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_edit_prepare_form">
        <observer name="remove_attribute_observer" instance="Osio\Subscriptions\Observer\RemoveAttributeIfModuleNotEnabled"/>
    </event>
</config>
